@media screen and (max-width: 450px) {
  .delete-container {
    height: 90vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
