.goal {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: #f5f5f5;
  margin: 1rem 0rem;
  padding: 0rem 1rem;
}
.goal svg {
  margin: 0rem 1rem;
}
.text {
  width: 100%;
}
.progress {
  /* background-color: #0666eb; */
  margin: 5px 0px;
  background-color: #919191;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
}
.completed {
  background-color: #0666eb;
  /* background-color: #919191; */
  /* width: 48%; */
  height: 3px;
  border-radius: 1.5px;
  max-width: 100%;
}
.money-required {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 450px) {
  .goal {
    width: 100%;
    height: 10vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: #f5f5f5;
    margin: 1rem 0rem;
    padding: 0rem 1rem;
  }
  .goal svg {
    margin: 0rem 1rem;
  }
  .text {
    width: 100%;
  }
  .progress {
    /* background-color: #0666eb; */
    margin: 5px 0px;
    background-color: #919191;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
  }
  .completed {
    background-color: #0666eb;
    /* background-color: #919191; */
    /* width: 48%; */
    height: 3px;
    border-radius: 1.5px;
  }
  .money-required {
    display: flex;
    justify-content: space-between;
  }
}
