.home-container {
  padding: 1rem;
  /* background-color: red; */
}
.profile {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100%;
}
.profile p {
  font-size: 13px;
}
.profile img {
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: 1rem;
}
.current-balance {
  padding: 1rem 0rem;
  margin-left: 1rem;
}
.current-balance p {
  color: #919191;
}
.exp-blocks,
.income,
.expenditure {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .exp-blocks {
  padding: 1rem 0rem;
} */
.svg-text {
  margin-left: 1rem;
}
.income .svg-cover {
  background-color: #2dff2d25;
  padding: 10px 10px;
  border-radius: 12px;
}
.expenditure .svg-cover {
  background-color: #ff232325;
  padding: 10px 10px;
  border-radius: 12px;
}
.income p {
  color: green;
}
.expenditure p {
  color: red;
}
.expense-chart {
  margin: 1rem 0rem;
}
.chart-svg {
  margin: 1rem 0rem;
}
.goals {
  margin: 1rem 0rem;
  padding-bottom: 10vh;
}
.goals-heading {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.goals-heading a {
  font-size: 13px;
  color: #0666eb;
}
