.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
.nav-btn {
  text-align: center;
}
.nav-p {
  font-size: 14px;
}
.active,
.active a {
  color: #0666eb;
}
@media screen and (max-width: 450px) {
  .nav-p {
    font-size: 12px;
  }
}
