.profile-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  padding-bottom: 10vh;
}
.top {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.pfp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pfp-container img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.pfp-container h3 {
  text-transform: capitalize;
}
/* .form-input {
  margin: 1rem 0;
}
.form-input h5 {
  margin: 5px 0px;
}
.change-salary input {
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 1rem;
} */
.change-salary {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px 30px;
}
.budget-block-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-budget-blocks {
  position: relative;
  width: 10rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0666eb11;
  border-radius: 12px;
  margin-bottom: 5px;
  overflow: hidden;
}
.profile-budget-blocks p {
  z-index: 1;
  font-size: 1.1rem;
  font-weight: 550;
}
.budget-block-wrapper h6 {
  text-transform: capitalize;
}
.fill-block {
  position: absolute;
  background-color: #0666ebc4;
  width: 100%;
  bottom: 0;
}
.logout button {
  padding: 10px 15px;
  font-size: 12px;
  border-radius: 12px;
  border: none;
  background-color: #f82525;
  color: white;
}
@media screen and (max-width: 450px) {
  .profile-page {
    /* height: 90vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    padding-bottom: 10vh;
  }
  .top {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .pfp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pfp-container img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  .pfp-container h3 {
    text-transform: capitalize;
  }
  .change-salary {
    margin: 1rem 0;
    grid-template-columns: repeat(2, 1fr);
  }
  .profile-budget-blocks {
    width: 8rem;
    height: 10rem;
  }
  .logout button {
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 12px;
    border: none;
    background-color: #f82525;
    color: white;
  }
}
