.profile-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  padding-bottom: 10vh;
}
.top {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.pfp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pfp-container img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.pfp-container h3 {
  text-transform: capitalize;
}
.form-input {
  margin: 1rem 0;
}
.change-salary input {
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 1rem;
}
.logout button {
  padding: 10px 15px;
  font-size: 12px;
  border-radius: 12px;
  border: none;
  background-color: #f82525;
  color: white;
}

@media screen and (max-width: 400px) {
  .profile-page {
    /* height: 90vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    padding-bottom: 10vh;
  }
  .top {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .pfp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pfp-container img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  .pfp-container h3 {
    text-transform: capitalize;
  }
  .form-input {
    margin: 1rem 0;
  }
  .change-salary input {
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 1rem;
  }
  .logout button {
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 12px;
    border: none;
    background-color: #f82525;
    color: white;
  }
}
