.stats {
  padding: 1rem;
  height: 90vh;
  position: relative;
}
.stats h3 {
  text-align: center;
  margin: 1rem;
}
.pie-chartt {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats-details {
  position: absolute;
  top: 7vh;
  right: 0;
  width: 50%;
}
.recent-transactions {
  width: 80%;
  height: auto;
  padding-bottom: 10vh;
}
.transaction-heading {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.transaction-heading a {
  font-size: 13px;
  color: #0666eb;
}

@media screen and (max-width: 450px) {
  .stats {
    height: 80vh;
  }
  .pie-chartt {
    width: 100%;
    margin: 1rem 0rem;
  }
  .stats-details {
    position: unset;
    width: 100%;
  }
  .recent-transactions {
    width: 100%;
  }
  .transaction-heading {
    width: 100%;
  }
}
