.transaction {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  margin: 1rem 0rem;
}
.transaction div p {
  font-size: 12px;
  color: #919191;
}
.transaction-text-1 {
  width: 70%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.icon {
  padding-right: 1rem;
}

@media screen and (max-width: 450px) {
  .transaction {
    padding: 0;
  }
}
