* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
a {
  color: #919191;
}
p {
  font-size: 13px;
}

.add-transaction-btn {
  width: 50px;
  height: 50px;
  position: fixed;
  background-color: #0666eb;
  border-radius: 50%;
  color: white;
  bottom: 6rem;
  right: 3rem;
  padding: 12.5px;
}

@media screen and (max-width: 450px) {
  .add-transaction-btn {
    bottom: 6rem;
    right: 1rem;
    padding: 12.5px;
  }
}
/* blue:#0666EB lgrey:#D9D9D9 dgrey:919191 */
